<!--begin::Logo-->
<div class="app-sidebar-logo px-6" id="kt_app_sidebar_logo">
    <!--begin::Logo image-->
    <a href="?page=index" class="d-flex align-items-center justify-content-between">
        <!-- Flex container for logo and text -->
        <div class="d-flex align-items-center">
            <!-- Nested flex for logo -->
            @if (KTTheme.GetAttributeValue("body", "data-kt-app-layout") == "dark-sidebar")
            {
                <img alt="Logo" src='@KTTheme.GetAssetPath("media/logos/mimaropa.png")' class="h-35px app-sidebar-logo-default" />
            }
            else if (KTTheme.GetAttributeValue("body", "data-kt-app-layout") == "light-sidebar")
            {
                <img alt="Logo" src='@KTTheme.GetAssetPath("media/logos/mimaropa.png")' class="theme-light-show h-35px app-sidebar-logo-default" />
                <img alt="Logo" src='@KTTheme.GetAssetPath("media/logos/mimaropa.png")' class="theme-dark-show h-35px app-sidebar-logo-default" />
            }
            <img alt="Logo" src='@KTTheme.GetAssetPath("media/logos/mimaropa.png")' class="h-35px app-sidebar-logo-minimize" />
        </div>

        <div class="menu-item pt-5">
			<!--begin:Menu content-->
			<div class="menu-content">
                <span class="menu-heading ms-3 text-start fw-bold text-uppercase fs-7">BFP MIMAROPA</span>
                <span class="menu-heading ms-3 text-start fw-bold text-uppercase fs-7">Regional Office</span>
			</div>
			<!--end:Menu content-->
		</div>
    </a>
    <!--end::Logo image-->
    <!--begin::Sidebar toggle-->
    <div id="kt_app_sidebar_toggle" data-kt-toggle="true" data-kt-toggle-target="body" data-kt-toggle-name="app-sidebar-minimize"
    @Html.Raw(KTTheme.PrintHtmlAttributes("sidebar-toggle"))
         class='app-sidebar-toggle btn btn-icon btn-shadow btn-sm btn-color-muted btn-active-color-primary body-bg h-30px w-30px position-absolute top-50 start-100 translate-middle rotate @KTTheme.PrintHtmlClasses("sidebar-toggle")'>
        @Html.Raw(KTTheme.GetIcon("black-left-line", "fs-3 rotate-180 ms-1"))
    </div>
    <!--end::Sidebar toggle-->
</div>
<!--end::Logo-->
